/* IMPORTS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GLOBAL STYLES */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eeeeee;

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 80px auto;
    grid-gap: 20px;

    grid-template-areas:
        "titulo titulo titulo titulo titulo"
        "form form ingresos gastos balance"
        "form form reg reg reg";
}

header {
    grid-area: titulo;
}

.formulario {
    grid-area: form;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* OTRO GRID DENTRO */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    & input, & select{
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    & button {
        padding: 10px;
        background-color: #297dd2;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}


.totalIngresos {
    grid-area: ingresos;
    background-color: #d4edda;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.totalGastos {
    grid-area: gastos;
    background-color: #f8d7da;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.totalBalance {
    grid-area: balance;
    background-color: #d1ecf1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registros {
    grid-area: reg;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.registros__tabla{
    width: 100%;
    border-collapse: collapse; 
    border: 1px solid #b8b8b8;
    text-align: left;
    color: black;
}
.propiedades__tabla{
    background-color: rgb(207, 207, 207);
    text-align: left;
    color: rgb(44, 44, 44);
}